body {
    background-color: #ac5013;
    font-family: Arial, Helvetica, sans-serif; }
    
    .page-wrapper {
     width: 100%;
     max-width: 960px;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     min-height: 700px; 
    background-color: crimson;}
    
     .user-box {
     width: 800px;
     height: 450px;
     background-color: #393f4d;
     margin: 0 auto; }
    
     .question {
     width: 90%;
     color: #d4d4dc;
     text-align: center;
     padding: 10px;
     margin: 20px auto;
     font-size: 30px; }
    
     .answer-box {
     width: 70%;
     height: 180px;
     margin: 0 auto;
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center; }
    
     .answers {
     width: 401px;
     text-align: center; }
    
     .choice {
     display: inline-block;
     margin: 0 20px; }
    
     .button {
     position: relative;
     top: 20px; }
    
     #after-submit, #wrong {
     visibility: hidden;
     text-align: center;
     color: #d4d4dc; }
    
     #q2, #q3 {
     display: none; }
    
     #answer2, #answer3 {
     display: none; }