


.main {
  background-color:green;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
}

.container {
    background-color:red;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}


.base {
    color: white;
    font-size: 25px;
}



/* Inputs and labels */
input.field {
  height : 30px;
}

input.ckbox {
    padding-top: 5px;
    margin-top: 10px;
    width : 30px;
    height : 30px;
    vertical-align: middle;
}

label.ckbox_label {
    color: white;
    font-size: 25px;
    position: relative;
    float: top left;
    margin-top: -1px;
    vertical-align: bottom;
}

select {
  height: 25px;
  width: auto;
  font-size: large;
}

/* Buttons */
div.btn {
    margin-top: 20px;
}
.backbutton {
    background-color: #5b25ad;
    border-radius: 5%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
  }

.nextbutton {
    background-color: #5b25ad;
    border-radius: 5%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
  }



/* Flags symbols */
  img#flag{
    max-width:100%;
    max-height:100%;
  }
  .flag {
    float: right;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    overflow: hidden;
  }

  .header {
    color:black;
    font-size: 20px;
  }